[shape-round] {
  border-radius: 50%;
}

[shape-1] {
  border-radius: 8px;
}

[shape-2] {
  border-radius: 24px;
}

[shape-3] {
  border-radius: 48px;
}

[shape-4] {
  border-radius: 96px 8px;
}

[shape-5] {
  border-radius: 8px 96px;
}

[shape-6] {
  border-radius: 24px 0 0 24px;
}

[shape-7] {
  border-radius: 0 24px 24px 0;
}
