// https://material.io/design/color/text-legibility.html#text-backgrounds
[contrast-high-emphasis] {
  opacity: 0.87;
}

[contrast-medium-emphasis] {
  opacity: 0.6;
}

[contrast-disabled] {
  opacity: 0.38;
}
